.pageMargin{
    margin-left: 10rem;
    margin-right: 10rem;
}
.welcomeScreen{
    height: max-content;
    width: max-content;
    margin: 5rem auto auto;
}
.welcomeTitle{
    font-size: 4.5rem;
}
.welcomeSubtitle{
    font-size: 3.4rem;
    margin-top: -3rem;
}
.allignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.dflex{
    display: flex;
}
.dblock{
    display: block;
}
.pc50{
    width: 50%;
}
.pc75{
    width: 75%;
}
.pc25{
    width: 25%;
}
.whitesmoke{
    font-family: 'Patua One', serif;
    color: whitesmoke;
}